{% extends 'layout.html.twig' %}

{% block body %}
<main class="container my-5">
<div class="row">

    <div class="col-lg-3">
        <div class="card my-5 text-center" height="500px">
            <img src="https://cdn.discordapp.com/attachments/857192683020877855/859736172058509332/shutterstock_editorial_10434333bm.jpg" class="photo-profile rounded-circle mx-auto my-3" width="200px" height="200px" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"> {{ client.firstname }} {{ client.lastname }} </h5>
                <p class="card-text"> 2.5 / 5 ⭐ (2) </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item ">From:  United States</li>
                <li class="list-group-item">Customer since:  January 2021</li>
                <li class="list-group-item">Last buy:   1 month ago</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-success text-light">Contact the buyer</a>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-8">
        <div class="gig" id="gig">
            <h3 class="my-5">All finished gigs</h3>
            <div class="my-2 px-3 py-2">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Gig</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Date</th>
                            <th scope="col">Exchange Experirence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for history in histories %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ history.gig.name }}</td>
                            <td>{{ history.freelancer.firstname }} {{ history.freelancer.lastname }}</td>
                            <td>{{ history.createdAt|format_date() }} </td>
                            <td>
                                {% if history.freelancer.firstname != 'Séverine' %}
                                   <a class="btn btn-success text-light" href="http://localhost:8000/message/3/1"> Contact the freelancer </a>
                                   {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="comments" id="comments">
            <h3 class="my-5">Reviews from service suppliers:  <span class="font-weight-bold"> 2.5 / 5⭐ </span> </h3>        
            <div class="my-2 px-3 py-2">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Reactivity:  <span class="font-weight-bold">   4 ⭐</span> </h5>         
                    </div>
                    <div class="col-md-8">
                        <h5>Quality of service description:  <span class="font-weight-bold">  4 ⭐</span> </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Courtesy:  <span class="font-weight-bold">  1 ⭐</span> </h5>              
                    </div>
                    <div class="col-md-8">
                       <h5> Recommandation to other freelancers:  <span class="font-weight-bold">   1  ⭐</span></h5>
                    </div>
                </div>

                <div class="row mt-4">
                    {% for comment in comments %}
					<div class="card rounded m-auto my-4 ">
						<div class="row g-0">
							<div class="col-md-2 text-center mt-3">
								<img src="https://cdn.pixabay.com/photo/2018/01/01/01/57/woman-3053492_960_720.jpg" class="rounded-circle" width="80px" height="80px">
							</div>
							<div class="col-md-10">
								<div class="card-body">
									<h6 class="card-title text-success fw-bold fst-italic">{{ comment.freelance.firstname }} {{ comment.freelance.lastname }}  2 / 5 ⭐ </h6>
									<p class="card-text">{{ comment.comment }}</p>
                                    <p class="card-text">
										<small class="text-muted">{{ comment.createdAt|format_date() }}</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}