{% extends 'layout.html.twig' %}

{% block body %}
<main class="container">

    {# SÉVERINE: On the left: Section profile client: personnal infos #}
    <div class="col-2 informations">
        {# Pour Séverine: TU peux coder dans cette section #}
    </div>
    {# End Section profile client #}
    <div class="col-1">
    </div>
    {# THUY: On the right: Section Gig + Comments #}
    <div class="col-9 mx-auto">
        {# On the right: Section Gig #}
        <div class="gig">
            <h3 class="my-5">All finished gigs</h3>
            <div class="my-2 px-3 py-2">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Gig</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Date</th>
                            <th scope="col">Exchange Experirence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for history in histories %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ history.gig.name }}</td>
                            <td>{{ history.freelancer.firstname }} {{ history.freelancer.lastname }}</td>
                            <td>{{ history.createdAt|format_date() }} </td>
                            <td>
                                <a class="btn btn-success text-light" href="http://localhost:8000/message/3/1"> Contact the seller </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {# End Section Gig #}
        {# On the right: Section Comments #}
        <div class="comments">
            <h3 class="my-5">Reviews from others freelancers: <span class="font-weight-bold"> ⭐ rate / 5</span> </h3>        
            <div class="my-2 px-3 py-2">
                <div class="row">
                    <div class="col-6">
                        <p>Reactivity <span class="font-weight-bold"> ⭐ rate / 5</span> </p>         
                    </div>
                    <div class="col-6">
                        <p>Quality of service description <span class="font-weight-bold"> ⭐ rate / 5</span> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Courtesy <span class="font-weight-bold"> ⭐ rate / 5</span> </p>              
                    </div>
                    <div class="col-6">
                       <p> Recommandation to other freelancers <span class="font-weight-bold"> ⭐ rate / 5</span></p>
                    </div>
                </div>
                {# Section Details of comments #}
                <div class="row">
                    {% for comment in comments %}
					<div class="card rounded m-auto my-4 ">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="https://cdn.pixabay.com/photo/2018/01/01/01/57/woman-3053492_960_720.jpg" class="rounded-circle" width="40px" height="40px">
							</div>
							<div class="col-md-8 col-sm-12">
								<div class="card-body">
									<h3 class="card-title">{{ comment.freelance.firstname }} {{ comment.freelance.lastname }}</h3>
									<p class="card-text">{{ comment.comment }}</p>
                                    <p class="card-text">
										<small class="text-muted">{{ comment.createdAt|format_date() }}</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				    {% endfor %}
                



                    {#
                        {% for history in histories %}
                        <tr>
                            <td><img src="https://cdn.pixabay.com/photo/2018/01/01/01/57/woman-3053492_960_720.jpg" class="rounded-circle" width="30px" height="30px"></td>
                            <td>
                            {{ history.freelancer.firstname }} {{ history.freelancer.lastname }}: <span class="font-weight-bold"> ⭐ rate / 5</span>
                            </td>
                            <td>{{ history.createdAt|format_date() }} </td>
                            <td>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    #}
                </div>
            </div>
        </div>
    </div>
    {# End Section Comments #}
</main>
{% endblock %}