{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gigs') }}
{% endblock %}

{% block title %}Fiverr | My Gigs
{% endblock %}

{% block body %}
    <main>
        <section class="container">
            <div class="card gigSection  mt-5">
                <div class="card-body">
                    <h1 class="h1 text-center mt-5">My Gigs</h1>
                    <table class="table table-sm mt-5 text-center">
                        <thead>
                            <tr>
                                <th class="thGigs" scope="col">#</th>
                                <th scope="col">Gig</th>
                                <th scope="col">Buyer</th>
                                <th scope="col">Started at</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gig in histories %}
                                <tr>
                                    <th scope="row" class="py-3">
                                        {{ loop.index }}
                                    </th>
                                    <td class="py-3">{{ gig.gig.name }}</td>
                               <td class="py-3">  <a href="{{ path('profile_show', { 'client_id': gig.client.id }) }}"> {{ gig.client.firstname}}
                                        {{ gig.client.lastname}}</a></td>
                                    <td class="py-3">{{ gig.createdAt|date("d/m/Y") }}</td>
                                    <td class="py-3">Finished</td>
                                    <td class="py-3">
                                        <a class="btn btn-success" href="{{ path('review_client', {'client_id': gig.client.id, 'freelancer_id': freelancer.id }) }}">Add a Review</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}