{#
<nav class="navbar">
  <div class="container-fluid">
<img class = "logo" src="{{ asset('build/images/logo.png') }}" alt="logo" width="70px" height="70px">
    <a class="navbar-brand"></a>
    <form class="d-flex"> 
    {% if app.user %}
    <p class ="welcome">Welcome <span class="text-warning">{{ app.user.username }}</span> !</p>
     <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Log out</a>
     {% else %}
     
     <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Login</a>
    {% endif %}
    </form>
  </div>
</nav>
#}
 
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand col-3">
            <img src="{{ asset('build/images/logo.png') }}" alt="logo" class="logo" width="70px" height="70px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if app.user %}
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome 
                            <span class="text-warning">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu shadow-lg w-100" aria-labelledby="dropdownMenuLink">
                        {#     <li>
                                <a class="dropdown-item text-wrap text-dark py-2" href="{{ path('profile_show', { 'client_id': app.user.client.id }) }}">
                                    <i class="fas fa-user me-2"></i>My profile</a>
                            </li> #}
                           
                            <li>
                                <a class="dropdown-item text-wrap text-dark py-2" href="{{ path('freelancer_gigs', { 'freelancer_id': app.user.freelancer.id }) }}">
                                    <i class="fas fa-user me-2"></i>My gigs</a>
                            </li>
                            
                            <li>
                                <a class="dropdown-item text-wrap text-danger py-2" href="{{ path('app_logout') }}">
                                    <i class="fas fa-sign-out-alt me-1"></i>
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                <a class="nav-item nav-link fs-5 text-success" href="{{ path('app_login') }}"> Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

