{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>
    <div class="fw-bold">
    <pre>
        {{ dump(messagesone) }}
    </pre>
        {% for message in messagesone %}
            {{ message.ToFreelancer.firstname ~ ' ' ~ message.ToFreelancer.lastname }}
            {{ message.subject }}
            {{ message.message }}
            {{ message.sentdate|date('d/m/Y, H:i:s') }}
        {% endfor %}
    </div>
    <div class="fw-bold">
        {% for message in messagestwo %}
            {{ message.FromFreelancer.firstname ~ ' ' ~ message.FromFreelancer.lastname }}
            {{ message.subject }}
            {{ message.message }}
            {{ message.sentdate|date('d/m/Y, H:i:s') }}
        {% endfor %}
    </div>
{% endblock %}
